.cover__subtitle {
    width: 360px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    z-index: 3;
}