.root {
    background-color: #2A2C2F;
    color: white;
    font-family: 'Inter', sans-serif;
    padding: 0 calc((100vw - 1184px)/2);
    max-width: 1184px;
}
@media screen and (max-width: 1024px) {
    .root {
        padding: 0 calc((100vw - 928px)/2);
        max-width: 928px;
    }
}
@media screen and (max-width: 768px) {
    .root {
        padding: 0 calc((100vw - 720px)/2);
        max-width: 720px;
    }
}
@media screen and (max-width: 320px){
    .root {
        padding: 0 calc((100vw - 320px)/2);
        max-width: 320px;
    }
}