.root {
    background-color: #2A2C2F;
    color: white;
    font-family: 'Inter', sans-serif;
    padding: 0 48px;
    margin: 0 auto;
    max-width: 1184px;
}
@media screen and (max-width: 1024px) {
    .root {
        padding: 0;
    }
}
@media screen and (max-width: 600px) {
    .root {
        margin: 0;
    }
}

