.lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    margin: 0 0 65px 0;
    padding: 0;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        padding: 0 24px;
        font-size: 24px;
        line-height: 30px;
        margin: 0 0 55px 0;
    }
}
@media screen and (max-width: 550px){
    .lead__subtitle {
        font-size: 22px;
        line-height: 38px;
    }
}
@media screen and (max-width: 425px){
    .lead__subtitle {
        padding: 0 16px;
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 40px 0;
    }
    
}