.cover {
    margin: 0 0 92px 0;
    max-width: 1184px;
    min-height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../../img/background.jpg") center/cover no-repeat;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
        min-height: 640px;
    }
}
@media screen and (max-width: 768px) {
    .cover {
        min-height: 480px;
        margin: 0 0 88px 0;
    }
}
@media screen and (max-width: 425px) {
    .cover {
        min-height: 200px;
        margin: 0 0 64px 0;
    }
}