.cover {
    margin: 0 24px 60px 24px;
    width: calc(100% - 48px);
    min-height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../../img/background.jpg") center/cover no-repeat;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
        min-height: 640px;
        margin: 0 0 60px 0;
    }
}
@media screen and (max-width: 768px) {
    .cover {
        min-height: 480px;
    }
}
@media screen and (max-width: 425px) {
    .cover {
        min-height: 200px;
    }
}