.cover__title {
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0 0 32px 0;
    padding: 0;
    z-index: 3;
}

@media screen and (max-width: 600px) {
    .cover__title {
        font-size: 48px;
        line-height: 52px;
        margin: 0 0 16px 0;
    }
}

@media screen and (max-width: 425px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
}