.place {
    max-width: 100%;
    padding: 0;
    margin: 0 auto 80px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 50px;
    column-gap: 40px;
}

@media screen and (max-width: 768px) {
    .place {
        margin: 0 auto 72px auto;
    }
}

@media screen and (max-width: 600px) {
    .place {
        max-width: 100%;
        margin: 0;
        display: block;
    }
}

@media screen and (max-width: 320px) {
    .place {
        max-width: 320px;
    }
}